<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Aviso Geral - Ro-Anime</title>
  <link rel="canonical" href="<%-url%>">
  <%- include('../partials/head.ejs'); %>
  <style>input[type=text],select{width:100%;padding:12px 20px;margin:8px 0;display:inline-block;border:1px solid #ccc;border-radius:4px;box-sizing:border-box}input[type=submit]{width:100%;background-color:#00529b;color:#fff;padding:14px 20px;margin:8px 0;border:none;border-radius:4px;cursor:pointer}input[type=submit]:hover{background-color:#00529b}button{width:100%;background-color:#00529b;color:#fff;padding:14px 20px;margin:8px 0;border:none;border-radius:4px;cursor:pointer}button:hover{background-color:#00529b}.grecaptcha-badge {display: none;}</style>
</head>
<body>
  <div align="center" class="absoluteCenter">
    <img src="/s/icon.png"id="icon"alt='Icone Ro-Systems'>
    <div>
      <h1>Ro-Anime</h1>
      <h2>Leia o Aviso Legal (LGPD)</h2>
      <p>Não hospedamos nada, de forma alguma, nem imagens, apenas indexamos, não temos direito sobre nenhum dos videos ou capas de nenhum anime, e o criador do site não pode adicionar novos por pedidos, eles são capturados de meios externos. Para não ser prejudicial para tal, e para tornar a plataforma mais rapida, utilizamos metodos de cache nas imagens, via <a href="https://www.cloudflare.com/">Cloudflare.</a></p>
      <p>Garantimos não armazenar de forma alguma nenhuma informação do usuario, de forma alguma, levando em consideração as atuais funcionalidades do site. Não levando em consideração a utilização de cookies por scripts externos como o ReCaptcha Invisible.</p>
      <br/>
      <p>Caso queira remover algo desse site, entre em contato com o criador clicando <a href="mailto:lucas@fptbb.com">aqui</a>.</p>
      <p></p>
    </div>
    <%- include('../partials/footer.ejs'); %>
</body>
</html>