<footer id="foo" class="copyright" style="color: white; font-size: 1.5vh;"><small>&copy; <a href=https://fptbb.com style="font-size: 1.5vh;">Fptbb</a> 2018 - <%= new Date().getFullYear();%>. Made With ❤️</small>
</footer>

<footer id="foo2" align="right" style="font-size: 3vh;">
<div id="dropdownmenu" align='right'>
  <ul>
      <li><a href="/">Inicio</a></li>
      <!--<li><a href="/anime">Animes</a></li>-->
      <li>
          <a>Animes</a>
          <ul>
              <li><a href="/novos">Novos</a></li>
              <li><a href="/populares">Populares</a></li>
              <li><a href="/categorias">Categorias</a></li>
          </ul>
      </li>
      <li><a href="https://fptbb.com">Criador</a></li>
  </ul>
</div>
</footer>
</div>
<div class="meio3" style="z-index: -1">
  <div class="sol"></div>
  <div class="meio2" style="z-index: -1">
      <div class="meio" style="z-index: -1">
          <div class="treinador"></div>
          
      </div>
  </div>
</div>